
@import url('http://fonts.cdnfonts.com/css/hug-femmes');

@import url('http://fonts.cdnfonts.com/css/tele-groteskult');
/*  about*/
.home-aboutme {
    margin: 15% 0px 0px 10px;
    width: 63%;
}

.home-aboutme p:nth-child(1) {
    font-size: 100px;
    font-family: 'Hug Femmes', sans-serif;
    font-family: 'Hug Femmes White', sans-serif;
    color: rgb(0, 250, 255);

}
.home-aboutme p:nth-child(1):hover {
    color: rgb(25, 0, 254);
    
    text-shadow: 2px 2px 3px  rgb(16, 4, 143);
}

.home-aboutme p:nth-child(2):hover {
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 5px 30px rgb(14, 204, 225);
    font-family: 'Tele-GroteskUlt', sans-serif;
                                                
}

.home-aboutme p:nth-child(2) {
    margin-left: 20px;
    font-size: 30px;
    transition-duration: 1s;
    color: aliceblue;
    font-family: 'Tele-GroteskUlt', sans-serif;
    text-align: justify;
}

.home-aboutme2 {
    position: absolute;
    width: 300px;
    height: 300px;
    margin: -300px 0px 0px 70%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(14, 35, 225);
}




/* media query */
@media only screen and (max-width: 800px) {
.home-aboutme {
    margin: 20% 0px 0px 5%;
    width: 50%;
}
.home-aboutme p:nth-child(1) {
    font-size: 40px;
    font-family: 'Hug Femmes', sans-serif;
    font-family: 'Hug Femmes White', sans-serif;
    color: rgb(0, 197, 246);
}


.home-aboutme p:nth-child(2) {
    z-index: 1;
    margin-left: 10px;
    font-size: 10px;
    transition-duration: 1s;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
.home-aboutme p:nth-child(2):hover {
    z-index: 1;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgb(48, 217, 255);

    
}

// img
.home-aboutme2 {
    z-index:0;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: -100px 0px 0px 65%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(14, 35, 225);
}


}