    <!-- About -->
    <div>
        <div class="home-aboutme">
            <p>About Me</p>
            <p> Team- oriented and smart working aspiring full stack web developer with great leadership skills having
                keep.
                Interest in MERN and JavaScript an organization
                utilize and further develop my skills.
                i can create front-end and back-end technical design, Enhanced Efficiency, imporved code, Write clean
                code, reusable, web response, and Flexiblity of application develop.
            </p>
        </div>
        <img class="home-aboutme2" src="https://www.enutt.net/img/2020/04/marketing-crisis.gif" alt="no image">
    </div>