<!-- Projects -->
<div class="home-project">
    <p>Projects</p>
    <p>Social Media Website and Name is POSTDART </p>
    <P>React JS and MongoDB and Express JS 
        <b>This is My own Project </b>
    </P>
    

    <ul>
        
        <li> Admin,User Authentication and Authorization based Register and Login</li>
        <br />
        <li>JavaScript library</li>
        <div>
            JavaScript library
            Front-end :-
            axios,
            formik,
            react,
            react-bootstrap,
            react-dom,
            react-icons,
            react-router-dom,
            react-scripts,
            react-toastify,
            sweetalert,
            yup
        </div>
        <div>
            JavaScript library
            Back-end :-
            bcrypt,
            cors,
            dotenv
            express
            joi
            jsonwebtoken
            mongodb</div>
        <br />
        <li> Responsive of Desktop only </li>
        <li>Customized own APIs</li>
        <li>This site home and profile pages front-end only in progress.</li>
        <h6>now, you can do Register and Login </h6>
        <h6 style="color:rgb(0, 226, 230);">If you want check just click Demo Button.</h6>
    </ul>
    <br />
    <div class="glow-project"> <a class="glow-on-hover" href="https://postdart.netlify.app/">Demo</a></div>
    <img src="https://i.ibb.co/ydNR6vM/Screenshot-2022-09-29-181400.jpg" alt="no image">
    <p></p>
</div>

<div class="home-project">
    <p class="home-project-ap" >Applications</p>
    <p> User CRUD App </p>
    <P>I had watch online and tried to made and done this Application </P>
    <ul>
        <li>HTML and CSS</li>
        <li>XMLHttpRequest of JSONPlaceholder </li>
        <li> Responsive of Desktop only </li>
        <h6>now, you can do Create,Edit,Read, Delete </h6>
        <h6 style="color:rgb(0, 226, 230);">If you want check just click Demo Button.</h6>
    </ul>
    <br />
    <div class="glow-project"><a class="glow-on-hover"
            href="https://mecallapi-xmlhttprequest-ashok04.netlify.app">Demo</a></div>
    <img src="https://i.ibb.co/9p3d7z1/Screenshot-2022-09-30-081020.jpg" alt="no image">

</div>


<div class="home-project">
    <p></p>
    <p> YouTupe Clone </p>
    
    <P>I had watch online and tried to made and done this Application </P>
    <ul>
        <h6>HTML and CSS </h6>
        <li>JSONPlaceholder - Free Fake REST API</li>
        <li>YouTube Data API </li>
        <li> Responsive of Desktop only </li>
        <h6>now, you can do watch youtupe </h6>
        <h6 style="color:rgb(0, 226, 230);">If you want check just click Demo Button.</h6>
    </ul>
    <br />
    <div class="glow-project"> <a class="glow-on-hover" href="https://ashokyoutubeclone.netlify.app/">Demo</a></div>
    <img src="https://i.ibb.co/mR6KCzz/Screenshot-2022-09-30-125554.jpg" alt="no image">
</div>


<div class="home-project">
    <p></p>
    <p> My Portfolio 
        </p>
    
    <P></P>
    <ul>
        <h6>Angular </h6>
        <h6> Desktop and Mobile with Responsive</h6>
        <h6>This site create with Angular </h6>
        <h6 style="color:rgb(0, 226, 230);">If you want check just click Demo Button.</h6>
    </ul>
    <br />
    <div class="glow-project"> <a class="glow-on-hover" href="https://ashokmportfolio.netlify.app/">Demo</a></div>
    
    <img src="https://i.ibb.co/8N3qJyV/Screenshot-2022-10-11-231656.jpg"  alt="no image">
</div>
